extends layout 
block content 
    div(class = "main_content", id = "main_content_index")
        #topbar
            form(action="/logout", method="post")
                input(
                    type = "submit"
                    value = "Logout"
                )
            #cartera
        #chart
        #sidebar
            #gestionAcciones
                select#empresas
                #precioAccion
                form(id = "formComprar", action="/buy")
                    input(
                        id = "comprar"
                        type = "submit"
                        value = "Comprar"
                    )
                    input(
                        type = "hidden"
                        class = "transaccion"
                        name = "empresa"
                    )
                form(id = "formVender", action="/sell")
                    input(
                        id = "vender"
                        type = "submit"
                        value = "Vender"
                    )
                    input(
                        type = "hidden"
                        class = "transaccion"
                        name = "empresa"
                    )
                br
                #numeroAcciones
            #comparaciones
                button(id="comparar") Comparar
                br
                select#empresas2
        #news 
            span(class="noticias") NOTICIAS
        
append scripts
    script(src="https://cdn.jsdelivr.net/npm/apexcharts")
    script.
        var data = !{JSON.stringify(data)}
        var cartera = !{JSON.stringify(cartera)}
        var acciones = !{JSON.stringify(acciones)}
    script(src="js/func.js")
        
