doctype
html
    head 
        title Proyectos 3
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="/js/func.js")
    body  
        #chart
        select#dias
        select#empresas
        select#empresas2
