extends layout 
block content 
    #main_content
        #topbar
            #cartera
            form(action="/logout", method="post")
                input(
                    type = "submit"
                    value = "Logout"
                )
        #chart
        #sidebar
            select#empresas
            #numeroAcciones
            #precioAccion
            form(id = "formComprar", action="/buy")
                input(
                    id = "comprar"
                    type = "submit"
                    value = "Comprar"
                )
                input(
                    type = "hidden"
                    class = "transaccion"
                    name = "empresa"
                )
            form(id = "formVender", action="/sell")
                input(
                    id = "vender"
                    type = "submit"
                    value = "Vender"
                )
                input(
                    type = "hidden"
                    class = "transaccion"
                    name = "empresa"
                )
        #news NOTICIAS
        
append scripts
    script(src="https://cdn.jsdelivr.net/npm/apexcharts")
    script.
        var data = !{JSON.stringify(data)}
        var cartera = !{JSON.stringify(cartera)}
        var acciones = !{JSON.stringify(acciones)}
    script(src="js/func.js")
        
