doctype
html
    head 
        title Proyectos 3
        link(rel="stylesheet", href="css/main.css") 
    body 
        header 
            .titulo BOLSALAMI RETURNS
            <!-- Global site tag (gtag.js) - Google Analytics -->
            script(async src="https://www.googletagmanager.com/gtag/js?id=G-4Y6V1ZDM2H")
            script.
                window.dataLayer = window.dataLayer || []
                function gtag(){dataLayer.push(arguments)}
                gtag('js', new Date())

                gtag('config', 'G-4Y6V1ZDM2H')
    block content
    block scripts 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        footer
