extends layout
block content 
    div(class = "main_content", id = "main_content_login") 
        form(id="login" action="/login", method="post") 
            .text USERNAME
            input(
                class = "email"
                type = "text"
                name = "email"
            )
            .text PASSWORD
            input(
                class = "password"
                type = "password"
                name = "password"
            )
            br
            br
            input(
                type = "submit"
                value = "Login"
            )
    img(id="loading_img", src="img/loading.gif")
append scripts
    script(src="js/login.js")
