extends layout
block content 
    #main_content
        .text USERNAME
        form(action="/login", method="post") 
            input(
                class = "email"
                type = "text"
                name = "email"
            )
            .text PASSWORD
            input(
                class = "password"
                type = "password"
                name = "password"
            )
            br
            input(
                type = "submit"
                value = "Login"
            )